---
layout: page
title: Minecraft U
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">What if you could learn to code while playing minecraft?</h1>
          <p class="animated fadeInUp">Minecraft U is an open-source curriculum free to all to use, which teaches problem solving and computing through a game called Minecraft.</p>
          <p>&nbsp;</p>
          <p class="cta"><a class="btn btn-success btn-call-to-action animated fadeInUp" href="http://eepurl.com/bdyK_X" target="_blank">Sign up for Updates</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <!-- <div class="section-title"> -->
            <h2>About Us</h2>
            <p>Minecraft game mechanics are incredibly analogous to engineering. We focus on teaching problem solving and programming techniques in a safe, encouraging ecosystem centered around Minecraft.  We are currently running camps in the Dallas, TX and <a href="https://www.Minecraft U-shreveport.com">Shreveport, LA</a> area with our team of trained instructors but we also offer training and guidance for you to build your own team.</p>
          <!-- </div> -->
          <p>The curriculum is for any teacher or parent that has some programming knowledge to teach a camp style format (1 week per level) or a club style format (all year curriculum). This curriculum is ever evolving, and welcomes your input. If you have things you'd like to teach or know would be valuable to the entire Minecraft U community, please begin <a href="https://github.com/MinecraftU/mcu-curriculum">contributing!</a></p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <!-- <h2>WE BELIEVE IN GREAT IDEAS</h2>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <a href="#" class="btn btn-view-works">View Works</a> -->
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>What We Do</h2>
        <p></p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Curriculum</h4>
          <p>Our curriculum is designed to guide a child from the basics of Minecraft gameplay all the way through to programming using modern programming languages. Our materials are engaging and skip the cruft of most books or templated materials. Maintaining it ourselves means we are able to keep it updated to the changing landscape of both Minecraft and technology education. <a href="https://github.com/MinecraftU/mcu-curriculum">Our curriculum is available on GitHub</a>. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Servers</h4>
          <p>Minecraft U maintains whitelisted servers, allowing your child to learn and play in a safe, educational environment. Minecraft U instructors participate on the servers, and all players agree to a code of conduct.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-key"></i>
          <h4>Tech Support and Questions</h4>
          <p>Official support channels, staffed by official Minecraft U instructors, for near-real-time direct technical support and questions about the curriculum.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-android-people"></i>
          <h4>Staff</h4>
          <p>Our staff is comprised of computer scientists, teachers and software developers who also enjoy gaming and Minecraft.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-hammer"></i>
          <h4>Tooling</h4>
          <p>We use the most modern tooling available. We are technologists ourselves and as such understand the importance of having the best tools. We walk you through the process of installing, using and maintaining this toolkit.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Knowledge Base</h4>
          <p>We keep up with the trends in Minecraft, gaming and online community in order to keep you informed and your children safe.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <!-- <div class="container"> -->
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <!-- <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a> -->
          <img src="{{ site.baseurl }}/img/campimg0.jpg"><img src="{{ site.baseurl }}/img/campimg1.jpg"><img src="{{ site.baseurl }}/img/campimg2.jpg"><img src="{{ site.baseurl }}/img/campimg3.jpg"><img src="{{ site.baseurl }}/img/campimg4.jpg">
        </div>
      </div>
    </div>
  <!-- </div> -->
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <!-- <img src="{{ tm.image }}" alt="Pepole"> -->
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
