<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="http://us2.campaign-archive1.com/home/?u=fcb1e3ed7e31a322e0db9ea53&id=a7a4bc23cf">Newsletters</a></li>
            <li><a href="http://eepurl.com/bdyK_X">Sign Up</a></li>
            <li><a href="mailto:info@minecraftu.org">Contact</a></li>
            <li><a href="https://www.facebook.com/officialmcu/"><i class="icon ion-social-facebook"></i></a></li>
            <li><a href="https://twitter.com/official_mcu"><i class="icon ion-social-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
